/* GENERAL FONTS AND COLOR CODES */

@font-face {
    font-family: 'Raleway';
    src: url(/CSS/Font/Raleway/Raleway-VariableFont_wght.ttf); 
      
        }


strong
{
    font-weight: normal;
}

.strong
{
    font-weight: bold;
}

h1, h2
{
    font-size: medium;
    font-weight: bold;
}

a
{
    font-style: normal;
    text-decoration: none;
    color: black;
}


/* SECTION CODES */

body
{
    background-color: white;
    font-family: 'Raleway';
}


/* HEADER */

header
{

}

header h2
{
    font-weight: normal;
    font-size: small;
}


#topnav
{
    
}

#search
{
    border: none;
}

/* . Hebergements */

#hebergements
{

}

#hebergements h2
{

}

#hebergements h3
{
    font-size: medium;
}

/* . Populaires */

#populaires
{

}

#populaires h3
{
    font-size: medium;
}

/* . Activités */

#activites
{

}

#activites h3
{
    font-size: medium;
}

/* . Footer */

footer
{

}


/* IMAGES CODES */

#hebergements img
{
    width: 10em;
    height: 6em;
}

#populaires img
{
    width: 10em;
    height: 6em;
}

#activites img
{
    width: 10em;
    height: 6em;
}

#logoreservia
{
    width: 6em;
    height: 3em;
}

i
{
   color: #0065FC;
}

#igrey
{
    color: #f2f2f2;
}

#iblack
{
    color: black;
}

ul
{
    list-style: none;
}
