/* GENERAL FONTS AND COLOR CODES */

@font-face {
    font-family: 'Raleway';
    src: url(/CSS/Font/Raleway/Raleway-VariableFont_wght.ttf); 
      
        }


strong
{
    font-weight: normal;
}

.strong
{
    font-weight: bold;
}

h1, h2
{
    font-size: medium;
    font-weight: bold;
}

a
{
    font-style: normal;
    text-decoration: none;
    color: black;
}


/* SECTION CODES */

body
{
    background-color: white;
    font-family: 'Raleway';
}

#blocpage
{
    width: 1150px;
    margin: auto;
}

/* HEADER */

header h2
{
    font-weight: normal;
    font-size: small;
}

#pagetop
{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
 }

#topnav
{
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}



#topnav a
{
    color: #0065FC ;
    font-weight: bolder;
        padding: 0px 25px 0px 25px;
}

#topnav a:hover
{
    color: #DEEBFF ;
    border-top: 1px solid #0065FC;
    padding-top: 33px;
}

/* #topnav a:visited
{
    color: grey;
} */

#topsearch
{
    margin-top: 30px;
}

#searchbutton
{
    display: flex;
    align-items: center;
}

#searchbutton button:first-child
{
    color: black;
    width: 40px;
    height: 40px;
    background-color: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
    border: none;
}

.fa-map-marker-alt
{
    color: black;
}

#searchbutton input
{
    height: 40px;
    width: 160px;
    border: 1px solid #F2F2F2;
}

#searchbutton input:focus
{ 
    outline: none;
}

#searchbutton button:last-child
{
    color: white;
    font-weight: bolder;
    background-color: #0065FC;
    height: 40px;
    border: none;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}

#searchbutton button:last-child:hover
{
    color: white ;
    font-weight: bolder;
    background-color: #DEEBFF ;
    height: 40px;
    border: none;
    border-radius: 0px 10px 10px 0px;
}

#searchfilters
{
    display: flex;
    align-items: baseline;
}

#searchfilters ul
{
    display: flex;
    justify-content: space-between;

}

#searchfilters button
{
    margin-right: 10px;
    background-color: #DEEBFF;
    border: none;
    border-radius: 20px;
    width: 40px;
    height: 40px;
}

#searchfilters li
{
    margin-right: 20px;
    padding-right: 10px;
    align-content: center;
    border: 1px solid #F2F2F2;
    border-radius: 20px ;
    font-weight: bold;
    
}

#searchfilters li:hover
{
    background-color:  #DEEBFF;
}

.transbutton
{
    border: 1px solid #f2f2f2;
    background-color: transparent;
    border-radius: 20px;
    width: 30px;
    height: 30px;
}


/* Flex heberg + Pop */

#resultflex
{
    display: flex;
    justify-content: space-between;
}

/* . Hebergements */

#hebergements
{
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 20px;
    width: 720px;
    height: auto;
}

#hebergements h2
{
    font-size: 20px;
}

.hebergflex
{
    display: flex;
    flex-wrap: wrap;
    }

.hebergcard
{
    background-color: white;
    border-radius: 20px;
    width: 200px;
    height: 160px;
    box-shadow:0px 0px 5px grey;
    margin: 15px;
    padding: 4px;
    line-height: 0.4em;
    overflow: hidden;
}

.hebergcard img
{
    object-fit: cover;
    width: 100%;
    height: 60%;

    border-radius: 20px 20px 0px 0px;
}

.hebergcard h3
{
    font-size: 12px;
    padding-left: 10px;
}

.hebergcard p
{
    font-size: 10px;
    padding-left: 10px;
}

.hebergcard i
{
    font-size: 0.6em;
    padding-left: 1px;

}

.hebergcard .stars
{
    padding-left: 10px;
}

.hebergcard:hover
{
    background-color: #DEEBFF;
}

.hebergcard:hover > img
{
    transform: scale(1.01);
    transition-duration: 0.1s;
}


/* . Populaires */

#populaires
{
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 20px;
    width: 300px;
    height: auto;
    position: relative;
}

#populaires h2
{
    font-size: 20px;
}

#populaires .fa-chart-line
{
    color: black;
    position: absolute;
    right: 30px;
}

.popflex
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.popcard
{
    background-color: white;
    border-radius: 20px;
    width: 250px;
    height: 120px;
    box-shadow:0px 0px 5px grey;
    margin: 15px;
    padding: 4px;
    position: relative;
    overflow: hidden;

}


.popcard img
{
    float: left;
    object-fit: cover;
    width: 40%;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
    padding-right: 15px;
}

.popcard h3
{
    font-size: 12px;

}

.popcard p
{
        font-size: 10px;

}

.popcard i
{
    font-size: 0.6em;
    padding-left: 5px;
}

.popcard .stars
{
    position: absolute;
    bottom: 5px;

}

.popcard:hover
{
    background-color: #DEEBFF;

}

.popcard:hover > img
{
    transform: scale(1.01);
    transition-duration: 0.1s;
}


/* ACTIVITES */


#activites
{

}

#activites h2
{
    font-size: 20px;
}

.actgrid
{
    display: grid;
    grid-template-columns: repeat(4);
    grid-template-rows: repeat(10, 25px) ;
    grid-gap: 20px;
}

.actcard
{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    box-shadow:0px 0px 5px grey;
    overflow: hidden;
}

.actcard:nth-child(1)
{
    grid-column: 1;
    grid-row: 1 / 11;
}

.actcard:nth-child(2)
{
    grid-column: 2;
    grid-row: 1 / 7 ;
}

.actcard:nth-child(3)
{
    grid-column: 2;
    grid-row: 7 / 11 ;
}

.actcard:nth-child(4)
{
    grid-column: 3;
    grid-row: 1 / 11;
}
.actcard:nth-child(5)
{
    grid-column: 4;
    grid-row: 1 / 6;
}
.actcard:nth-child(6)
{
    grid-column: 4;
    grid-row: 6 / 11;
}

.actcard img
{
    object-fit: cover;
    height: 85%;
    flex: 1;
}

.actcard h3
{
    font-size: 12px;
    padding-left: 15px;
}

.actcard:hover
{
    background-color: #DEEBFF;

}

.actcard:hover > img
{
    transform: scale(1.01);
    transition-duration: 0.1s;
}

/* . Footer */

footer
{
    background-color: #F2F2F2;
    width: 1300px;
    margin: auto;
    display: grid;
    grid-template-columns: 400px 350px 400px;
    grid-gap: 10px;
    grid-auto-rows: auto;
    margin-top: 20px;
    padding: 20px 0 20px 0;
}

footer ul
{
    padding-left: 0;
    line-height: 30px;
}

footer h3, footer ul
{
    padding: 0px 0 0px 80px;
    font-size: small;
}

/* IMAGES CODES */

#logoreservia
{
    width: 5em;
    height: 2.5em;
}

i
{
   color: #0065FC;
}

.igrey
{
    color: #f2f2f2;
}

ul
{
    list-style: none;
}